button {
    background-color: orange;
    border-radius: 5px;
    border-color: black;
    width: 120px;
    height: 50px;
    
   
}

a {
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
    
}

a:hover {
    color: black;
    
}
